.idea/*
*/.idea/*
CMakeFiles/*
*/CMakeFiles/*
*/cmake-build-debug/*
*/cmake-build-release/*
*.sqlite
*.cmake
*.dll
*.so
*.a
*.exe
Makefile
CMakeCache.txt
*/CMakeCache.txt
perl_src/*
cmake-build-*/*
*.bz2
fuck.*
*.gz
*/nbproject/*
