.idea/*
*/.idea/*
CMakeFiles/*
*/CMakeFiles/*
*/cmake-build-debug/*
*/cmake-build-release/*
*.sqlite
*.cmake
*.dll
*.so
*.a
*.exe
Makefile
CMakeCache.txt
*/CMakeCache.txt
perl_src/*
cmake-build-*/*
*.bz2
fuck.*
*.gz
*/nbproject/*
wimm/fonts/glyphicons-halflings-regular.ttf
wimm/fonts/glyphicons-halflings-regular.eot
*.svg
*.woff
*.woff2
wimm/parse_cheq.html
wimm/trunk/21_07_2023_01_46_134376936769057480767.json
